.container(ng-controller='MainCtrl as mvm')
  .page-header.text-right
    h1.text-muted
      small= '////////////////// '
      strong: small  word
      strong.text-info Up!
      = ' /'
    input(type='text'
      class='form-control input-lg'
      placeholder="Introduce una palabra..."
      ng-model='mvm.word'
      ng-model-options='{ debounce: 500 }')

  div(ng-if="mvm.word")
    .well.well-sm
      .row
        pearson.service-wrapper(word="mvm.word")
    hr
    .row
      forvo.service-wrapper(word="mvm.word")
